<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <img src="/uploads/myImage-1577119690214.png" name="cart_img1"  height="150px;">
        <div class="card-body">
          <a href="/routing/addshoppingcart" class="btn btn-primary">add to cart</a>
          
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <img src="/uploads/friends.jpg" height="150px;">
        <div class="card-body">
          <a href="/routing/addshoppingcart" class="btn btn-primary">add to cart</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <img src="/uploads/profile.jpg" height="150px;">
        <div class="card-body">
          <a href="/routing/addshoppingcart" class="btn btn-primary">add to cart</a>
        </div>
      </div>
    </div>
  </div>
</div>